<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Bragging Rights</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css')}}" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css')}}"
    />
  </head>

  <body>
    <main class="container">
      <header class="header">
        <img
          src="https://cdn.hackclub.com/019f85d5-155c-7560-9e79-3bdb7126ec92/logo.png"
          alt="Bragging Rights Logo"
          class="logo"
        />
      </header>
      <section
        class="stats {% if blur_general_stats %}stats-blurred{% endif %}"
      >
        <div class="card">
          <h2>Games Played</h2>

          {% if blur_general_stats %}
          <p class="blurred-stat">???</p>
          {% else %}
          <p>{{ stats.games_played }}</p>
          {% endif %}
        </div>

        <div class="card">
          <h2>Most Game Played</h2>

          {% if blur_general_stats %}
          <p class="blurred-stat">???</p>
          {% else %}
          <p>{{ stats.most_played }}</p>
          {% endif %}
        </div>

        <div class="card">
          <h2>Current Leader</h2>

          {% if blur_general_stats %}
          <p class="blurred-stat">???</p>
          {% else %}
          <p>{{ stats.current_leader }}</p>
          {% endif %}
        </div>
      </section>

      <footer class="footer">
        <button
          class="login-button"
          onclick="window.location.href='{{ url_for('profile_selector') }}'"
        >
          Log In
        </button>
      </footer>
    </main>
  </body>
</html>
